.rounded-sm.overflow-hidden.px-4.py-2.ml-8.mr-4.shadow-md.flex.flex-col.hover_border-orange.cursor-pointer(style="border-width: 1px; border-color: #cecece;", data-link=post.url, id = post.fileSlug)
	// = console.log(post.fileSlug)
	h2.text-xl.font-bold.my-2.block #{ post.data.title }
	div.flex
		//- i.fa.fa-calendar.mr-2.text-orange
		span
			|	<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#f05e23">
			|		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
			|	</svg>
		span. 
			&nbsp;
		span.text-gray-600
			- date_type = post.data.date.constructor.name
			- date_text = (date_type == 'Date' ? post.data.date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) : post.data.date)
			= date_text
			//- - console.log(post.data.date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }))
			//- = format.date(date_text)
	p.block.text-gray.text-lg.italic.float-left.overflow-hidden.hover_overflow-y-auto.overscroll-auto.leading-snug.py-2.prose
		= post.data.summary
	footer.clearfix.leading-none.mt-2
		// - console.log(post.data.summary)
		each category in post.data.categories
			span.float-left.bg-orange.px-2.py-1.text-white.border-3.font-semibold= category.toUpperCase()
		each tag in post.data.tags
			span.float-right.ml-auto.bg-gray-400.rounded-sm.px-1.py-1.mx-2.text-white.text-sm.leading-normal= tag
	// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet bibendum tortor, eget sodales magna lobortis ut. Duis ornare nisl ut facilisis viverra. Cras rhoncus porta neque. Vivamus eget mi vitae mi semper posuere non sed lacus. Morbi eget metus sed metus tincidunt mollis sed quis felis. Quisque tellus nulla, dapibus non hendrerit a, dictum eu mi. Maecenas eu ante sit amet metus maximus cursus eu ac ipsum. Praesent nec felis sed magna feugiat dapibus. Duis commodo fringilla sodales. Nunc fringilla urna eget leo blandit, in egestas justo ultrices. Mauris aliquet libero metus, dignissim dignissim ipsum ornare a. Nulla ut lacinia ex. Donec rhoncus nisi libero, ac efficitur turpis rutrum quis. In ultrices nulla leo, a accumsan purus consectetur non. Nullam vel diam imperdiet, pellentesque nisl a, ullamcorper mauris. Nullam lacinia nisi ac nibh porta placerat.
	//- - console.log(Object.keys(post))
	//- - console.log(post.url)
	//- footer.block.clearfix.leading-none.mt-2.inline-flex.flex-row.items-end.justify-between
	//- 	div.float-left
	//- 		i.fa.fa-calendar.mr-2.text-orange
	//- 		i.text-gray= post.data.date
	//- 	a.ml-auto.float-right.border.rounded-sm.bg-orange.px-2.py-1.text-white.border-3.hover_bg-white.hover_text-orange.hover_border-orange(href=post.url) Read More
br
//- article.card(id="#{ post.fileSlug }")
//- 	.d-flex.flex-row.p-3
//- 		.flex-column.pr-0.align-self-center.h-100
//- 			//- img.card-img-bottom-left.p-1 src="post/2015-07-23-r-rmarkdown_files/figure-html/pie-1.png" style="object-fit: contain;"
//- 		.flex-column
//- 			.card-body.d-flex.flex-column.p-1
//- 				h4.card-title
//- 					a(href=post.url style="text-decoration: underline;")= post.data.title
//- 				h6.card-subtitle.mb-2.text-muted
//- 					span.fa.fa-calendar
//- 					span &nbsp; #{ post.date.toString().replace(/\w+ (\w+) (\d+) (\d+).*/,'$2-$1-$3') }
//- 					//- span &nbsp; ~ {{ .FuzzyWordCount }} Words
//- 				// - console.log(summarize);
//- 				//- const summary = await summarize({ post.fileSlug })
//- 				//- p.card-text
//- 				//- / .flex-row
//- 				//- /   {{ with .Params.tags }}
//- 				//- /     span.fa.fa-tags style="color: #6c757d;"
//- 				//- /     {{ range . }}
//- 				//- /     a.badge.badge-secondary.m-1 href="tags/{{ . | urlize }}" {{ . }}
//- 				//- /     {{ end }}
//- 				//- /   {{ end }}
//- 				//- /   a.btn.btn-primary.float-right.p-1 href={{ .Permalink }}
//- 				//- /     | Read more
//- br